n8n-sdr-workflow.json
{
    "name": "SDR PromptX \u2014 Agente WhatsApp v2",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "sdr-promptx",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "node-001",
            "name": "Receber Mensagem WPP",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                340
            ],
            "webhookId": "sdr-promptx"
        },
        {
            "parameters": {
                "respondWith": "allIncomingItems",
                "options": {}
            },
            "id": "node-002",
            "name": "Responder 200 OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                460,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "// Extrai dados da mensagem Evolution API (MESSAGES_UPSERT)\nconst raw = $input.first().json;\n// Acesso o body que vem aninhado no primeiro item do array\nlet body = raw[0]?.body || raw.body || raw;\n\n// Se for requisi\u00e7\u00e3o de atualiza\u00e7\u00e3o de config vinda do CRM\nif (body.action === 'update_agent_config') {\n    const staticData = $getWorkflowStaticData('global');\n    staticData.agentConfig = body;\n    return [];\n}\n\n// Garante que \u00e9 um evento de mensagem\nif (body.event !== 'messages.upsert') {\n    throw new Error('DEBUG: Evento ignorado (N\u00e3o \u00e9 messages.upsert). Evento foi: ' + body.event);\n}\n\n// A DbConecta v\u00e1rias vezes manda a mensagem direto em body.data (sem array messages)\nconst msg = body.data?.messages?.[0] || body.data;\nif (!msg || (!msg.message && !msg.messageStubType)) {\n    throw new Error('DEBUG: Sem msg ou msg.message. Payload da message: ' + JSON.stringify(msg));\n}\n\n// Ignora msgs de grupos, status, ou enviadas por n\u00f3s\nif (msg.key?.fromMe) throw new Error('DEBUG: Mensagem ignorada (Enviada por mim).');\nif (msg.key?.remoteJid?.includes('@g.us') || msg.key?.remoteJid?.includes('status')) {\n    throw new Error('DEBUG: Mensagem ignorada (Grupo ou Status).');\n}\n\n// Tenta extrair o n\u00famero, priorizando o remoteJidAlt se for addressingMode: lid\nconst rawPhone = msg.key?.remoteJidAlt || msg.key?.remoteJid || '';\nconst phone = String(rawPhone).replace(/\\D/g, '');\n\n// Extrai texto\nconst message = msg.message?.conversation \n  || msg.message?.extendedTextMessage?.text \n  || msg.message?.imageMessage?.caption \n  || msg.message?.videoMessage?.caption \n  || '';\n\n// Extrai nome\nconst name = msg.pushName || 'Lead';\n\n// Se extraiu algo pr\u00e1tico mas falhou\nif (!phone || !message.trim()) {\n    throw new Error(`DEBUG: Falha na extra\u00e7\u00e3o final. Telefone extra\u00eddo: '${phone}', Texto extra\u00eddo: '${message}'`);\n}\n\nreturn [{ json: { phone, message: message.trim(), name } }];\n"
            },
            "id": "node-003",
            "name": "Extrair Dados Evolution",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                460,
                340
            ]
        },
        {
            "parameters": {
                "jsCode": "// Carrega e salva hist\u00f3rico de conversa por telefone (mem\u00f3ria local)\nconst staticData = $getWorkflowStaticData('global');\nconst phone      = $input.first().json.phone;\nconst message    = $input.first().json.message;\nconst name       = $input.first().json.name;\n\nconst key     = 'hist_' + phone;\nconst history = staticData[key] || [];\n\n// Adiciona mensagem do lead\nhistory.push({ role: 'user', content: `[${name}]: ${message}` });\n\n// Limita a 20 mensagens (10 trocas)\nif (history.length > 20) history.splice(0, history.length - 20);\n\nstaticData[key] = history;\n\nreturn [{ json: { phone, name, message, history, historyKey: key } }];"
            },
            "id": "node-004",
            "name": "Carregar Hist\u00f3rico",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                340
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/chat/completions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer YOUR_OPENAI_API_KEY_HERE"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o', temperature: 0.7, messages: [ { role: 'system', content: $json.dynamicPrompt }, ...$input.first().json.history ] }) }}",
                "options": {}
            },
            "id": "node-005",
            "name": "GPT-4o SDR",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                900,
                340
            ]
        },
        {
            "parameters": {
                "jsCode": "// Processa resposta do GPT e salva no hist\u00f3rico\nconst historyKey = $('Carregar Hist\u00f3rico').first().json.historyKey;\nconst phone      = $('Carregar Hist\u00f3rico').first().json.phone;\nconst gptBody    = $input.first().json;\nconst reply      = gptBody.choices?.[0]?.message?.content || 'Desculpe, tive um problema t\u00e9cnico. Pode repetir?';\n\n// Salva resposta do assistente no hist\u00f3rico\nconst staticData = $getWorkflowStaticData('global');\nconst history    = staticData[historyKey] || [];\nhistory.push({ role: 'assistant', content: reply });\nif (history.length > 20) history.splice(0, history.length - 20);\nstaticData[historyKey] = history;\n\nreturn [{ json: { phone, reply } }];"
            },
            "id": "node-006",
            "name": "Processar Resposta GPT",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                340
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.dbconecta.com/message/sendText/MESQUITA",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "apikey",
                            "value": "9AF89C449535-4B0B-869C-CE24EC7112BB"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "json",
                "specifyBody": "keypair",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $json.phone }}"
                        },
                        {
                            "name": "text",
                            "value": "={{ $json.reply }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-007",
            "name": "Enviar Resposta WPP",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1560,
                340
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://script.google.com/macros/s/AKfycbyGhXVhF6PSIoh36aggLrDgbImLblFVBF7tT_eGDwxmyUfQtApOpAzzk9TgVmKwyHwGZA/exec?action=automation_ai_status&phone={{ $json.phone }}&apiKey=XL%2B2ln8hgqCcErsZWpvT3EoC%2FKX8Ept%2B",
                "options": {}
            },
            "id": "node-008",
            "name": "Verificar IA Ativa",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                900,
                340
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// Se a IA estiver desativada para este n\u00famero, para o workflow\nconst aiStatus = $input.first().json;\nconst histData = $('Carregar Hist\u00f3rico').first().json;\n\n// Se erro na chamada ou aiEnabled=false, para aqui\nif (aiStatus.aiEnabled === false) {\n  console.log('[SDR] IA desativada para ' + histData.phone + '. Modo manual ativo.');\n  return []; // Para o workflow \u2014 n\u00e3o envia resposta\n}\n\n// Passa os dados do hist\u00f3rico para o pr\u00f3ximo node\nreturn [{ json: histData }];"
            },
            "id": "node-009",
            "name": "Filtrar IA Desativada",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                340
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://script.google.com/macros/s/AKfycbyGhXVhF6PSIoh36aggLrDgbImLblFVBF7tT_eGDwxmyUfQtApOpAzzk9TgVmKwyHwGZA/exec",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ action: 'webhook_save_message', phone: $('Carregar Hist\u00f3rico').first().json.phone, role: 'user', content: $('Carregar Hist\u00f3rico').first().json.message }) }}",
                "options": {}
            },
            "id": "node-010",
            "name": "Salvar Msg Lead",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                900,
                520
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://script.google.com/macros/s/AKfycbyGhXVhF6PSIoh36aggLrDgbImLblFVBF7tT_eGDwxmyUfQtApOpAzzk9TgVmKwyHwGZA/exec",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ action: 'webhook_save_message', phone: $('Carregar Hist\u00f3rico').first().json.phone, role: 'assistant', content: $('Processar Resposta GPT').first().json.reply }) }}",
                "options": {}
            },
            "id": "node-save-ia",
            "name": "Salvar Resposta IA",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2000,
                340
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "/* =========================================================\n * PROMPT DO AGENTE (SCRIPT SDR PROMPTX)\n * Fonte: SCRIPT_SDR_PROMPTX.md\n * ========================================================= */\n\nconst systemPrompt = `\nVoc\u00ea \u00e9 a Sofia, SDR da PromptX. Seu objetivo \u00e9 fazer prospec\u00e7\u00e3o fria via WhatsApp com donos de cl\u00ednicas de est\u00e9tica e marcar uma call de demonstra\u00e7\u00e3o (30-45 min).\nO produto \u00e9 um Agente de IA para atendimento de leads via WhatsApp.\nVoc\u00ea age de forma humana e gera curiosidade.\n\nREGRAS DE OURO:\n- O objetivo do WhatsApp \u00e9 a CALL. NUNCA tente vender ou explicar tudo pelo chat.\n- Nunca revelar o pre\u00e7o antes da call. O valor precisa ser constru\u00eddo.\n- M\u00e1ximo de 3 linhas por mensagem. Sem blocos grandes de texto.\n- Sempre terminar com uma pergunta.\n- Nunca use palavras como \"chatbot\", \"rob\u00f4\" ou \"tecnologia\" no 1\u00ba contato.\n\nFLUXO DE CONVERSA (Siga estritamente essas etapas e S\u00d3 pule para a pr\u00f3xima quando o usu\u00e1rio responder a altura da anterior):\n\nETAPA 1 - PRIMEIRO CONTATO (Gancho)\nPergunte se ele tem a cl\u00ednica de est\u00e9tica e fa\u00e7a a pergunta central:\n\"Pergunta r\u00e1pida: voc\u00ea usa tr\u00e1fego pago pra trazer lead pro WhatsApp?\"\n*(Aguarde ele responder para seguir. N\u00e3o mande mais nada)*.\n\nETAPA 2 - QUALIFICA\u00c7\u00c3O\nSe ele disse que usa tr\u00e1fego pago ou investe: \"Entendo! E como t\u00e1 sendo esse processo at\u00e9 a venda? Quando o lead chega do tr\u00e1fego, quem faz o atendimento, a recep\u00e7\u00e3o?\"\n*(Aguarde ele responder)*\nFa\u00e7a a pergunta da dor: \"E fora do hor\u00e1rio comercial? Fim de semana, \u00e0 noite, como voc\u00eas lidam com o cara que chama 20h?\"\n\nETAPA 3 - PITCH CURTO\nDiga que voc\u00eas resolveram isso criando um agente de IA no WhatsApp que responde na hora e agenda a avalia\u00e7\u00e3o sem precisar da recepcionista.\nDiga: \"O gargalo quase sempre n\u00e3o \u00e9 o an\u00fancio, \u00e9 o que acontece depois que o lead clica. Teria como bater um papo curto de 30 min essa semana pra eu te mostrar na pr\u00e1tica? N\u00e3o tem compromisso.\"\n\nETAPA 4 - AGENDAMENTO\nSeja direta: \"Voc\u00ea teria disponibilidade essa semana? Tenho hor\u00e1rio dispon\u00edvel na Quinta \u00e0s 10h ou na Sexta \u00e0s 14h.\"\n*(Sempre d\u00ea 2 op\u00e7\u00f5es, nunca pergunte aberto)*.\nConfirmou o hor\u00e1rio? Diga \"Perfeito! Mandarei o link da reuni\u00e3o logo mais e a gente se fala.\"\n\nTRATAMENTO DE OBJE\u00c7\u00d5ES COMUNS:\n- \"J\u00e1 tenho recepcionista\": A ideia n\u00e3o \u00e9 substituir, \u00e9 tir\u00e1-la do WhatsApp pra focar em quem j\u00e1 t\u00e1 na cl\u00ednica.\n- \"Vai parecer rob\u00f4?\": Ele \u00e9 treinado com a identidade da SUA cl\u00ednica e gera mais confian\u00e7a de imediato do que esperar 2h pelo humano.\n- \"Quanto custa?\": O modelo muda de cl\u00ednica pra cl\u00ednica, por isso a call \u00e9 importante pra gente avaliar juntos se faz sentido investir o valor.\n`;\n\nreturn [{ json: { ...$input.first().json, dynamicPrompt: systemPrompt.trim() } }];\n"
            },
            "id": "node-prompt-dinamico",
            "name": "Configurar Prompt da IA",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                700,
                190
            ]
        }
    ],
    "connections": {
        "Receber Mensagem WPP": {
            "main": [
                [
                    {
                        "node": "Responder 200 OK",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Extrair Dados Evolution",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extrair Dados Evolution": {
            "main": [
                [
                    {
                        "node": "Carregar Hist\u00f3rico",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Carregar Hist\u00f3rico": {
            "main": [
                [
                    {
                        "node": "Verificar IA Ativa",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Salvar Msg Lead",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Verificar IA Ativa": {
            "main": [
                [
                    {
                        "node": "Filtrar IA Desativada",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filtrar IA Desativada": {
            "main": [
                [
                    {
                        "node": "Montar Prompt Dinâmico",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GPT-4o SDR": {
            "main": [
                [
                    {
                        "node": "Processar Resposta GPT",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Processar Resposta GPT": {
            "main": [
                [
                    {
                        "node": "Enviar Resposta WPP",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Montar Prompt Din\u00e2mico": {
            "main": [
                [
                    {
                        "node": "GPT-4o SDR",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        "sdr",
        "whatsapp",
        "promptx"
    ],
    "versionId": "3"
}